<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img
        src="assets/img/logi.jpeg"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      Ensitech
    </a>

    <!-- Menu de navigation pour les différentes sections -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/enseignant">Enseignants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cours">Cours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/etudiant">Étudiants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/responsable">Responsable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/statistiques">Statistiques</a>
        </li>

        <!-- Dropdown Connexion -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownMenuButton"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Connexion
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item" href="/login/etudiant">Etudiant</a>
            </li>
            <li>
              <a class="dropdown-item" href="/login/enseignant">Enseignant</a>
            </li>
            <li><a class="dropdown-item" href="/login/admin">Admin</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
