<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/img/logi.jpeg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      Ensitech
    </a>
    <!-- Dropdown Connexion -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Connexion
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="/login">Etudiant</a></li>
        <li><a class="dropdown-item" href="/login">Enseignant</a></li>
        <li><a class="dropdown-item" href="/login">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>
