.content-container {
  padding: 20px;
  background-color: #f4f4f9;
  height: 100%;
}

.sidebar {
  background-color: #2980B9; /* Couleur bleu de la sidebar */
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.sidebar .nav-item {
  padding: 15px 20px;
}

.sidebar .nav-item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar .nav-item a:hover {
  background-color: #3498db;
  border-radius: 5px;
}

.main-content {
  margin-left: 250px; /* Décaler le contenu principal à droite de la sidebar */
  padding: 20px;
}
/* main.component.css */
.main-content {
  margin-top: 20px; /* Ajoute un espace de 20px entre la navbar et le contenu */
}