<h1>Hello World_playground de Lior CHAMLA de web-develop.me</h1>
<h1>Decouverte Angular</h1>
<p highlight background-color="green" base-color="purple">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quisquam
  voluptates accusamus quidem impedit nobis earum? Deleniti nostrum facilis enim
  eius autem quasi, qui libero?
</p>
<p highlight>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis officia
  excepturi a porro assumenda repellendus.
</p>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta nobis minus
  ipsa blanditiis alias officia mollitia exercitationem laborum at possimus
  repudiandae aspernatur, veniam repellat dolor.
</p>
